@import "../../../../../color1.scss";

ul {
  display: flex;
  margin: 0 20px;

  li {
    width: 115px;
    line-height: 70px;
    cursor: pointer;
    text-align: center;
    color: white;

    &:hover {
      color: $secondary2;
    }
  }

  .router-link-active {
    border-bottom: 3px solid white;
    color: white;
  }
}
