.wrapper {
  width: 1200px;
  margin: 0 auto;

  .categories-input-wrapper {
    display: flex;
    align-items: center;

    span {
      font-size: 52px;
      background: #656565;
      color: white;
      border-radius: 10px;
      width: 52px;
      height: 52px;
      line-height: 52px;
      margin-right: 15px;
      display: inline-block;
      text-align: center;
      cursor: pointer;
    }

    .categories-input {
      width: 600px;
      font-size: 24px;
      line-height: 36px;
      padding: 5px;
      border: 1px solid black;
    }
  }

  .categories-table {
    margin: 20px 0;
    font-size: 24px;

    li {
      display: flex;
      line-height: 52px;

      &:first-child {
        border-bottom: 2px solid black;
      }

      div {
        flex: 1;

        .edit-icon {
          margin-left: 5px;
          position: relative;
          top: 2px;
          cursor: pointer;
        }
      }

      div:first-child {
        flex: 3;
      }
    }
  }

  .snapshot-wrapper {
    display: flex;
    justify-content: center;
    margin: 20px auto;

    .snapshot-button {
      display: inline-block;
      padding: 10px;
      border-radius: 3px;
      background: #5a5a5a;
      color: white;
      font-size: 18px;
      cursor: pointer;
    }
  }
}
