<div class="wrapper">
  <div class="categories-input-wrapper">
    <span (click)="onAddcategory()">+</span><input class="categories-input" placeholder="Chase Savings, etc." [(ngModel)]="category.name"
      type="text">
  </div>

  <ul class="categories-table">
    <li>
      <div>Name</div>
      <div>Amount</div>
    </li>
    <li *ngFor="let category of categories">
      <div>{{category.name}}</div>
      <div><span>{{category.amount | currency}}</span><span class="edit-icon"><svg-icon src="assets/icons/edit_icon.svg"></svg-icon></span></div>
    </li>
  </ul>
</div>