<div class="wrapper">
  <div class="categories-input-wrapper">
    <span (click)="onAddCategory()">+</span><input class="categories-input" placeholder="Rent, Vacation, Insurance, etc" [(ngModel)]="category.name"
      type="text">
  </div>

  <ul class="categories-table">
    <li>
      <div>Name</div>
      <div>Amount</div>
    </li>
    <li *ngFor="let category of categories">
      <app-category-item [category]="category"></app-category-item>
    </li>
  </ul>
  <div class="snapshot-wrapper">
    <div class="snapshot-button" (click)="saveSnapshot()">Save Snapshot</div>
  </div>
</div>