.wrapper {
  width: 1200px;
  margin: 0 auto;

  .accounts-input-wrapper {
    display: flex;
    align-items: center;

    span {
      font-size: 52px;
      background: #656565;
      color: white;
      border-radius: 10px;
      width: 52px;
      height: 52px;
      line-height: 52px;
      margin-right: 15px;
      display: inline-block;
      text-align: center;
      cursor: pointer;
    }

    .accounts-input {
      width: 600px;
      font-size: 24px;
      line-height: 36px;
      border: 1px solid black;
    }
  }

  .accounts-table {
    margin: 20px 0;
    font-size: 24px;

    li {
      display: flex;
      line-height: 52px;

      &:first-child {
        border-bottom: 2px solid black;
      }

      div {
        flex: 1;
      }

      div:first-child {
        flex: 3;
      }
    }
  }
}
