<div class="wrapper">
  <div class="accounts-input-wrapper">
    <span (click)="onAddAccount()">+</span><input class="accounts-input" placeholder="Chase Savings, etc." [(ngModel)]="account.name"
      type="text">
  </div>

  <ul class="accounts-table">
    <li>
      <div>Name</div>
      <div>Amount</div>
    </li>
    <li *ngFor="let account of accounts">
      <div>{{account.name}}</div>
      <div><span>{{account.amount | currency}}</span><span class="edit-icon"><svg-icon src="assets/icons/edit_icon.svg"></svg-icon></span></div>
    </li>
  </ul>
</div>